<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="helloApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<style type="text/css">
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
</style>
<title>Hello AngularJS - Hello World</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>

<script
	src="../service.js"></script>
<script>
	var helloApp = angular.module("helloApp", ['q.angularS3MultipartUploads','ngFileUpload']);
	helloApp.controller("HelloCtrl", ['$scope', 'S3Upload','Upload', '$timeout','$rootScope', function($scope, S3Upload,Upload, $timeout,$rootScope) {
						

		

		$scope.upload = function(file) {


			var c = {
						 aws_url : "http://XXXXXX.amazonaws.com",
			            file_name : 'tmp/' + file.name,
			            file: file,
			            auth_url : "https://my.api/signature",
			            bucket : "XXXXXX",
			            aws_key_id : "XXXXXXXXXXX",
			            partSize: 1 * 1024 * 1024, // 1mb
			            auth_url_headers : {},
			            scope : $scope,

			            //get status like this
			            on_get_upload_id : function (xhr, uploadId) {
			    		    
			               $scope.$apply(function () {
								$scope.sig = uploadId;
							});
			            }
			         }          

				$scope.myS3 = S3Upload.c(c);
				
				

				
				$scope.myS3.init_multipart_upload();
				
				//or like this
				$scope.$on('on_progress', function(event, data) { 
					$scope.$apply(function () {
						$scope.name = Math.min(100, parseInt(100.0 * data.loaded / data.total));
					});
				});
				//on_part_upload
				$scope.$on('on_part_upload', function(event, data) { 
					console.log(data.current_part);
					$scope.$apply(function () {
						$scope.part = data.part_number;
					});
				});

				// why knot?
				$scope.myS3.config.scope.$on('on_get_upload_id', function(event, data) { 
					console.log("mah comment"); 
				});
				
			
	    		}

	}]);
</script>
</head>
<body ng-controller="HelloCtrl">
	<div class="container">
		<div class="page-header" style="margin: 0">
			<h1>Angular S3 Multipart Upload</h1>
		</div>
  <form name="myForm">
    <fieldset>
      <legend>Upload on form submit</legend>
      <div></div>
      <div ng-if="sig">{{name}}% // {{part}} // {{sig}}</div>

   
      <input type="file" ngf-select ng-model="_F" name="file"    
             accept="*" required
             ngf-model-invalid="errorFile">
    	  <i ng-show="myForm.file.$error.required">*</i><br>
    
     	<div>
     		<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
     	</div>
      
<div>
	<button ng-click="picFile = null" ng-show="picFile">Remove</button>
</div>
      
     
      <button ng-disabled="!myForm.$valid" 
              ng-click="upload(_F)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>

	</div>
</body>
</html>	
			
	